body{
    font-family: Arial, Helvetica, sans-serif;
}

.game-container{
    text-align: center;
    margin: auto;
}
.cell{
    margin: 2px 2px; 
    display: inline-block;
    border: solid 2px #000;
    height: 50px;
    width: 50px;
    vertical-align: top
}

.cell-char{
    position: relative;
    top: -20%;   
}
.status{
    padding: 2%;
}


.input{
    margin-top: 2%;
    text-align: center;
}
 .key-buttons{
    border: 2px solid #000;
    width: 40px;
    height: 50px;
    background-color: rgb(241, 241, 241);
    margin: 5px auto;
    padding: 3px;
    display: inline-block;
 }
 #entr{ 
    padding-left: 2%;
    padding-right:  2%;
    background-color: #3e87e7;
 }
 #bkspc{
    padding-left: 2%;
    padding-right:  2%;
 }
#bkspc-key{
position: relative;
right: 20%;
}
 #row-offset{
    margin-left: 3px;
}


 .not-in-word{
    background-color: #3a3a3c;
    color: white;
}

.wrong-position{
    background-color: #b59f3b;
    color: white;
}

.correct{
    background-color: #538d4e;
    color: white;
}
@media screen and (max-width: 700px) {
    .game-container{
        font-size: 12px;
    }
    .cell{
        margin: 2px 2px; 
        display: inline-block;
        border: solid 2px #000;
        height: 50px;
        width: 50px;
        vertical-align: top
    }
    .cell-char{
        position: relative;
        top: -3%
    }
    .key-buttons{
        border: 2px solid #000;
        width: 4%;
        height: 1%;
        background-color: rgb(241, 241, 241);
        margin: 5px auto;
        padding: 3% 1.5%;
        display: inline-block;
     }
    #entr{ 
        padding-left: 20px;
        padding-right:  20px;
        background-color: #3e87e7;
     }
     #entr-key{
        position: relative;
        right: 10px;
     }
     #bkspc{
        padding-left: 20px;
        padding-right:  20px;
     }
    #bkspc-key{
    position: relative;
    right: 15px;
    }
     #row-offset{
        margin-left: 3px;
    }
    .not-in-word{
        background-color: #3a3a3c;
        color: white;
    }
    
    .wrong-position{
        background-color: #b59f3b;
        color: white;
    }
    
    .correct{
        background-color: #538d4e;
        color: white;
    }
}